body{
    font-family: 'Redressed', cursive;
    font-family: 'Yeon Sung', cursive;
    background-color: rgb(193, 214, 233);
    margin: 0;
}
.welcome-block{
   
    background-color:rgb(0, 41, 32);
    color: white;
    font-size: 30px;
    line-height: 4px;
    text-align: center;
    padding: 1px;   
    font-weight: 300;
}
.navbar{
    background-color:rgb(66, 12, 12);
    text-align: center;
    padding: 7px;
    margin-top: 1px;
}
.link-property{
    font-size: 20px;
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: rgb(18, 17, 77);
    margin: 3px;
    
}
.navbar a:hover{
    background-color: rgb(183, 245, 69);
    color: black;
    font-weight: bold;
}
.navbar a:active{
    color: blueviolet;
}
.details-property{
    font-size: 25px;
    color:black;
    
}
.details-block{
    margin-left: 50px;
    margin-top: 30vw;
    margin-bottom: 5px;
    padding: 20px;
    width: 92%;
    border-left: 1px groove black;
    border-right: 1px groove black;
    border-radius: 7px;
    border-top: 1px groove black;
    border-bottom: 1px groove black;
    box-shadow:3px 5px 10px rgb(27, 7, 7);

}
.intro-class{
   
    font-size: 22px;
    text-indent: 60px;
    width: 45%;
    float: left;
    margin-left: 30px;
    text-align: justify;
}
